<div class="view-profile edit-profile py-5 inner-page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card p-3 border-0 mb-3">
          <div class="static-text background-green text-white p-2">Gold Packge</div>
          <div class="row">
            <div class="col-md-4 text-center">
              <div class="img-holder-edit update-img border p-1 mb-3">
                <%= image_tag 'dummy.jpg', class: 'img-fluid' %>
                <div class="img-uploader">
                  <input type="file">
                  <button type="button" class="btn btn-danger">Image Upload</button>
                </div>
              </div>
              <ul class="list-unstyled social-icon">
                <li><a class="pint" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              </ul>
            </div>
            <div class="col-md-8">
              <form>
                <div class="mb-3 info-holder">
                  <h6 class="text-danger mb-3">Mr.Rumani</h6>
                  <div class="form-group">
                    <input type="text" placeholder="25 Yrs, 5 Ft 8 in / Cms" class="form-control">
                  </div>
                  <div class="form-row form-group">
                    <div class="col-6">
                      <input type="text" placeholder="Hindu" class="form-control">
                    </div>
                    <div class="col-6">
                      <input type="text" placeholder="Kamma" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" placeholder="Triupati, Andhara pardesh, Indis" class="form-control">
                  </div>
                  <div class="form-row form-group">
                    <div class="col-6">
                      <input type="text" placeholder="BE" class="form-control">
                    </div>
                    <div class="col-6">
                      <input type="text" placeholder="Hardware Professional" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" placeholder="Rs 4.00 lakhs" class="form-control">
                  </div>
                </div>
                <div class="clearfix">
                  <button type="submit" class="btn btn-danger btn-sm float-right ml-2 mb-2"><i class="fa fa-heart"></i> Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <h4 class="mb-3 text-center text-green">Personal Information</h4>
        <div class="card p-3 border-0 mb-3">
          <h6 class="mb-3"><i class="fa fa-user text-green"></i> A few words about me</h6>
          <input type="text" placeholder="Not specified" class="form-control">
        </div>
        <div class="card border-0 mb-3">
          <div class="card-header background-green text-white">
            <h5 class="m-0"><i class="fa fa-id-card" aria-hidden="true"></i> Basic Detail</h5>
          </div>
          <div class="p-3">
            <form>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label><strong>Profile created for</strong></label>
                  <input type="text" placeholder="Sister" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                  <label><strong>Name</strong></label>
                  <input type="text" placeholder="Jhansi" class="form-control">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label><strong>Age</strong></label>
                  <input type="text" placeholder="22 years" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                  <label><strong>Height</strong></label>
                  <input type="text" placeholder="5 Ft 5 in / 165 Cms" class="form-control">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label><strong>Weight</strong></label>
                  <input type="text" placeholder="55 Kg" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                  <label><strong>Body type / Complexion</strong></label>
                  <input type="text" placeholder="Average, Fair" class="form-control">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label><strong>Physical Status</strong></label>
                  <input type="text" placeholder="Normal" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                  <label><strong>Marital Status</strong></label>
                  <input type="text" placeholder="Never Married" class="form-control">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label><strong>Drinking Habbit</strong></label>
                  <input type="text" placeholder="" class="form-control">
                </div>
                <div class="col-md-6">
                  <label><strong>Eating Habbit</strong></label>
                  <input type="text" placeholder="" class="form-control">
                </div>
              </div>
              <button type="submit" class="btn btn-danger"><i class="fa fa-heart"></i> Save</button>
            </form>
          </div>
        </div>
        <div class="card border-0 mb-3">
          <div class="card-header background-green text-white">
            <h5 class="m-0"><i class="fa fa-phone" aria-hidden="true"></i> Contact Details</h5>
          </div>
          <div class="p-3">
            <form>
              <div class="row mb-3">
                <div class="col-md-3">
                  <label><strong>Contact Number</strong></label>
                </div>
                <div class="col-md-9">
                  <input type="text" placeholder="900808455" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-3">
                  <label><strong>Parent Contact</strong></label>
                </div>
                <div class="col-md-9">
                  <input type="text" placeholder="Available" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-3">
                  <label><strong>Chat Status</strong></label>
                </div>
                <div class="col-md-9">
                  <input type="text" placeholder="Online" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-3">
                  <label><strong>Send Mail</strong></label>
                </div>
                <div class="col-md-9">
                  <input type="text" placeholder="Locked" class="form-control">
                </div>
              </div>
              <button type="submit" class="btn btn-danger"><i class="fa fa-heart"></i> Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
