<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width: 100%; max-width: 600px;" class="content">
    <tr>
        <td align="center" style="background: url(<%= image_path('banner-inikah-opt5.png') %>); color: #ffffff; font-family: Arial, sans-serif; font-size: 36px; font-weight: bold; height:220px;width:100%; background-size: cover;">
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 20px 10px 20px; color: #ea5151; font-family: Arial, sans-serif; font-size: 20px; line-height: 30px;">
            <b>Profile View Request Approved</b>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" style="padding: 0 20px 20px 20px; color: #555555; font-family: Arial, sans-serif; font-size: 17px; line-height: 24px; border-bottom: 1px solid #f6f6f6;">
            <p>Your request to view <%= @user.username %> profile has been approved</p>
        </td>
    </tr>
    <tr>
        <td align="center" style="background-color: #ffff; padding: 15px 10px 15px 10px; color: #555555; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px;">
        </td>
    </tr>
</table>
