<div class="row">
  <div class="card text-black mb-3 ml-4 mr-4" style="max-width: 18rem;">
    <div class="card-header bg-danger">Users <i class="fa fa-users"></i></div>
    <div class="card-body">
      <p class="card-text">View users registered with Inikah</p>
      <%= link_to 'View', admin_users_path, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>

  <div class="card text-black mb-3 mr-4" style="max-width: 18rem;">
    <div class="card-header bg-danger">Events <i class="fa fa-calendar"></i></div>
    <div class="card-body">
      <p class="card-text">View Events created with Inikah</p>
      <%= link_to 'View', admin_events_path, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
</div>
